h2{
    color: #B4B4C6;
font-family: "Source Sans Pro";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 20px;

}
#user{
    display: flex;
   justify-content: center;
   align-items: center;
    margin-right: 30px;
}
.navbar-container{
    position: fixed;
    top: 0;
    background-color:#FAFBFC;
    height: 100px;
    z-index: 1;
}