/* .navbar-container{
    background-color:#FAFBFC;
    height: 90px;
    border: 1px solid black;
} */
#userId{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}
#user{
    display: flex;
   justify-content: center;
   align-items: center;
    margin-right:40px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}
