aside {
  width: 320px;
  height: 150vh;
  flex-shrink: 0;
  background-color: #e1f9f4;
}
.logo {
  margin-top: 45px;
  color: #1a1b1c;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
}
#sidebar-conatiner{
    width: 172px;
    height: 385px;
    position: relative;
    border: 1px solid black;
    margin:81px 0px 0px 96px;
}
/* }
#property{
    color: #2289FF;
font-family: "Source Sans Pro";
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 35px; /* 159.091% */
/* }
li{
    list-style-type: none;
}
.ul-container{
    width: 172px;
    height: 385px;
    margin-top: 81px;
    color: #AAA;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

 */ 
