

    #camera-svg{
        position: absolute;
        right: 25px;
        top: 28px;
    }
  
    #roww1{
      margin-top:20px;
    }
    #row2{
      margin-left: 12px;
    }
    #row3{
      margin-left: 30px;
    }