#headline{
    color: #7D7D7D;
font-family: "Source Sans Pro";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin: 40px 0px 0px 40px;
}
.pages-container{
    margin: 31px 95px 0px 75px;
    width: 1115px;
height: 70px;
flex-shrink: 0;
border-radius: 35px;
border: 1px solid black;
border-radius: 500px;
background: #FFF;
box-shadow: 10px 14px 70px 0px rgba(0, 0, 0, 0.03);
display: flex;
}
.pages-container div{
    width: 200px;
height: 70px;
flex-shrink: 0;
border: 1px solid black;
border-radius: 500px;
text-align: center;


}
.pages-container .property-details{
    margin-left: 100px;
}
.pages-container .general-info{
    margin-left: 100px;
}
.pages-container .location-info{
    margin-left: 112px;
}


