.main-content{
    background-color:#fff;
}
.search{
    margin:100px 0px 0px 270px;

}
#search-input{
    height: 45px;
    width: 200px;
    border-radius: 22.5px;
    background-color: #fff;

}
#search-input::placeholder{
    padding: 10px;
}
#vertical-line{
    position: relative;
    left: -48px;
    bottom: 3px;
    z-index: 1;

}
#glass{
    position: relative;
    left: -40px;
    bottom: 3px;
    font-size: 10px;
}
#add-property-btn {
  width: 120px;
  height: 45px;
  flex-shrink: 0;
  background-color: #6ab4f8;
  border-radius: 22.5px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  filter: drop-shadow(0px 13px 25px rgba(0, 0, 0, 0.15));
  margin:100px 0px 0px 630px;
}
.search-input-and-btn{
    display: flex;

}

/* Table styling */
table {
    margin-top: 50px;
    margin-left:280px ;
    width: 1000px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead th {
    color: #fff;
    background-color: #6ab4f8;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e2e2e2;
}

/* Adjust column widths */
thead th:nth-child(1),
tbody td:nth-child(1) { width: 10%;  }

thead th:nth-child(2),
tbody td:nth-child(2) { width: 10%; text-align: center; }

thead th:nth-child(3),
tbody td:nth-child(3) { width: 15%; text-align: center; }

thead th:nth-child(4),
tbody td:nth-child(4) { width: 10%;  }

thead th:nth-child(5),
tbody td:nth-child(5) { width: 10%; text-align: center; }

thead th:nth-child(6),
tbody td:nth-child(6) { width: 10%; text-align: center; }

thead th:nth-child(7),
tbody td:nth-child(7) { width: 10%;text-align: center;  }

thead th:nth-child(8),
tbody td:nth-child(8) { width: 10%; text-align: center;}

thead th:nth-child(9){text-align: center; }
tbody td:nth-child(9) { width: 15%; padding-left: 40px; }
/* 
thead th:nth-child(1),
tbody td:nth-child(1) { width: 5%;  border: 1px solid black;} */
