.modal-overlay {
    position: fixed;
    top:100px;
    left: 100;
    width: 1250px;
    height: 700px;
    background-color:lightcyan; /* Semi-transparent background */
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
   
  }
  
  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    color: blueviolet;
  }
  h2{
    position: absolute;
    top: -180px;
    text-decoration: underline;
  }

  
  .close-button {
    background:none;
    border: none;
    cursor: pointer;
    position: absolute;
    color:red;
    font-size: xx-large;
    top: -180px;
    right: -700px;
  }
  
  .modal-body {
    position: relative;
  }
  .property-image{
    position: relative;
    top: -140px;
    border-radius:125px ;
  }
  .form{
    color:blue;
    position: absolute;
    top: 130px;
    list-style-type: square;
  }
  .form2{
    color:blue;
    position: absolute;
    left: 350px;
    top:130px;
    width: 300px;
    list-style-type: square;
  }
  .form3{
    color:blue;
    position: absolute;
    left: 600px;
    top:130px;
    width: 300px;
    list-style-type: square;
  }
  
  