.modal-overlay {
    position: fixed;
    top:100px;
    left: 270px;
    width: 1000px;
    height: 480px;
    background-color:lightcyan; /* Semi-transparent background */
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
   
   
  }
  
  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    color: blueviolet;
  
  }
  h3{
    position: absolute;
    top: -145px;
    text-decoration: underline;
   
  }

  
  .close-button {
    background:none;
    border: none;
    cursor: pointer;
    position: absolute;
    color:red;
    font-size: xx-large;
    top:-160px;
    left: 900px;
 
  }
  
  .modal-body {
    position: relative;
  }
  .property-image{
    position: relative;
    top: -115px;
    border-radius:60px ;
  }
  .form{
    color:blue;
    position: absolute;
    font-size: 13px;
    top: 20px;
    list-style-type: square;
  }
  .form2{
    color:blue;
    position: absolute;
    font-size: 13px;
    left: 350px;
    top:0px;
    width: 300px;
    list-style-type: square;
  }
  .form3{
    color:blue;
    position: absolute;
    font-size: 13px;
    left: 600px;
    top:20px;
    width: 300px;
    list-style-type: square;
  }
  
  