/* PropertyUpdateForm.css */

.update-form-container {
  margin-top: 10px;
  max-height: 480px;
  width: 900px;
  overflow-y: auto;
  border: 1px solid black;
  margin-left: 300px;
}

.btns {
    margin-top: 5px;
}
.btn1 {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: green;
}
.btn2 {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  background-color: red;
  margin-left: 10px;
}


  
