.signin_page {
  width: 1440px;
  height: 1024px;
  background: #e1f9f4;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; 
}
.form_box {
  width: 564px;
  height: 583px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
   display: flex;
  flex-direction: column;
  align-items: center; 
}

#logo {
  color: #4c57b6;
  font-family: "Open Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  margin-top: 80px;
}
#para_line {
  color: #000000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  letter-spacing: 0.25px;
  opacity: 0.6;
  margin-top: 30px;
}
input {
  width: 450px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  background: var(--Colors-Neutral-White, #fff);
  color:#000000;
font-family: "Open Sans";
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 120% */
letter-spacing: 0.25px;
padding-left: 10px;
opacity: 0.4;

}
input::placeholder{
  color: #000;
}

#signup{
  color: #4C57B6;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 120% */
  letter-spacing: 0.25px;
  margin-top:60px ;
}
.signup_link{
  margin-top: 50px;
}

.signup_link p{
  color: black;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.25px;
  opacity: 0.6;
} 
#signup-btn{
  color: #352D66;
text-align: center;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 122.222% */
letter-spacing: 0.25px;
}

.password_input_container {
  position: relative;
}

.password {
  margin-top: 25px;
  padding-right: 5px; /* Adjust as needed to accommodate the eye icon */
}

.password_toggle {
  position: absolute;
  width: 20px;
height: 14.294px;
flex-shrink: 0;
  top: 50%;
  right: 20px; /* Adjust as needed to position the eye icon */
  transform: translateY(-50%);
  cursor: pointer;
  margin-top: 10px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
#btn{
  width: 450px;
  height: 54px;
  flex-shrink: 0;
font-family: "Open Sans";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 120% */
letter-spacing: 0.25px;
color: #FFF;
background-color: #4C57B6;
margin-top: 50px;
}
.inputs-box{
  margin-top: 30px;
}
   
#email_id{
  margin-top: 30px;
}