.signup_page {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  background: #e1f9f4;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.form_box {
  width: 400px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#logo {
  color: #4c57b6;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.20px;
  margin-top: 60px;
}
#para_line {
  color: #000000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.22px;
  opacity: 0.6;
  margin-top: 25px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input {
  width: 250px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  background: var(--Colors-Neutral-White, #e7d4d4);
  color:#000000;
font-family: "Open Sans";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16x; 
letter-spacing: 0.22px;
padding-left: 10px;
opacity: 0.8;
}
input::placeholder {
  color: #000;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 120% */
  letter-spacing: 0.22px;
  opacity: 0.8;
}
button {
  margin-top: 30px;
  width: 450px;
  height: 54px;
  flex-shrink: 0;
  background-color: #4c57b6;
  color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 120% */
  letter-spacing: 0.25px;
}

#btn5{
  width: 150px;
  height: 30px;
  flex-shrink: 0;
font-family: "Open Sans";
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 120% */
letter-spacing: 0.25px;
color: #FFF;
background-color: #4C57B6;
margin-top: 50px;
margin-left: 50px;
}
.email_input{
  margin-top: 20px;
  border-radius: 5px;
  position: relative;
  
}
.email-error{
  font-size: 13px;
  position: absolute;
  color: red;
  bottom: -25px;
}
               
.password-input{
  position: relative;
  margin-top: 35px;
  border-radius: 5px;
}
.password-error{
  font-size: 13px;
  position: absolute;
  color: red;
  bottom: -25px;

}
.conf-pass-input{
  position: relative;
  margin-top: 35px;
  border-radius: 5px; 
}
.conf-pass-error{
  font-size: 13px;
  position: absolute;
  bottom: -25px;
  color: red;
}
.error-message{
  color: red;
}
#signInLink span{
  color: black;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
  letter-spacing: 0.22px;
  opacity: 0.8;


}